h1 Update book
form(action="/books/"+book.id+"/update",  method="POST")
  label Title 
  br
  input(type="text", name="title",value=book.title)
  br
  label Description 
  br
  input(type="text", name="description", value=book.description)
  br
  br
  button Update